div.fixed {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  background-color: black;
}

div.mainlogo {
  text-indent: 20px;
  margin: 0px;
  height: 200px;
  color: white;
}

ul {
  text-indent: 20px;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

li a {
  display: block;
  width: 300px;
  height: 40px;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

a.link {
  color: white;
}

a.link:hover {
  color: black;
  background-color: white;
}

h1 {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 80px;
}

h2 {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
}

div.menufoot {
  padding: 0px;
  text-indent: 20px;
  margin: 0px;
  background-color: #ea6045;
  min-width: 300px;
  height: 20px;
  color: black;
  position: fixed;
  bottom: 0%;
}

h2.foottext {
  font-size: 12px;
  position: relative;
  bottom: 0px;
  left: 0px;
}
img {
    width: 100%;
    height: auto;
}

img.feature {
  margin-left: 300px;
  margin-top: 0px;
  width: 70%;
  float: left;
  padding: 0px;
}
